<p id="notice"><%= notice %></p>

<%= render partial: 'partials/search', locals: { width: "10%", height: "10%" } %>

<body>
  <div class="list-group grid-container">
    <% @profiles.each do |profile| %>
      <div class="grid-item">
        <%= render partial: 'partials/userprofile', locals: { profile: profile } %>
      </div>
    <% end %>
  </div>
</body>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1em;
    align-items: start;
  }
  .grid-item {
    padding: 5%;
    font-size: 20px;
    text-align: center;
  }
</style>